[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-qt = "*"
pytest-xvfb = "*"

[packages]
pyqt5 = "*"
python-vlc = "*"
eyed3 = "*"
pillow = "*"

[requires]
python_version = "3.7"
